.box {
  width: 30%;
  height: 350px;
  border-radius: 15px;
  margin: 2%;
}
.box-container {
  display: flex;
  justify-content: center;
}
.green-Box {
  background-color: #00ccb1;
}
.bleu-Box {
  background-color: #3d83df;
}
img {
  max-width: 90%;
  height: auto;
}
